body {
    margin-top: 0;
    background-image: url(Imagens\ para\ seu\ site/fundo2.jpg);

}

.textonormal {
    font-family: verdana;
    color: #362f2d;
    font-size: 12;
    text-align: center;
}

#topo {
    width: 830;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    width: 830;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#conteudo {
    width: 800;
    margin-top: none;
    margin-right: auto;
    margin-left: auto;
    padding: 15;
}
#rodape {
    width: 830;
    margin-top: none;
    margin-right: auto;
    margin-left: auto;
}